.contents
  .side-contents
    .side-contents__user
      .side-contents__user__username
        %p Tetsunosuke Koizumi
      .side-contents__user__icon

    .side-contents__group
      %h3 Room1
      %p メッセージ

      %h3 Room2
      %p メッセージ

  .main-contents
    .main-contents__group-name

    .main-contents__messages

    .main-contents__send-message
