.wrapper
  .side-contents
    .side-contents__user
      .side-contents__user__username
        %p Tetsunosuke Koizumi
      .side-contents__user__icon

    .side-contents__group
      %h3 Room1
      %p メッセージ

      %h3 Room2
      %p メッセージ

  .main-contents
    .main-contents__group-name
      %h3 Sampleグループ
      %p MEMBER: Tetsunosuke Koizumi

      .main-contents__group-name--edit
        Edit

    .main-contents__messages
      %span.main-contents__messages--name
        Tetsunosuke Koizumi
      %span.main-contents__messages--datetime
        2017/04/23 06:30:15
      %p
        メッセージ
      %span.main-contents__messages--name
        Tetsunosuke Koizumi
      %span.main-contents__messages--datetime
        2017/04/23 06:30:15
      %p
        メッセージ

    .main-contents__send-message
      .main-contents__send-message--form

      .main-contents__send-message--button
        Send
