.side-contents {
  height: 100%;
  width: 300px;
  &__user {
    background-color: #253141;
    &__username {
      height: 90px;
      font-weight: bold;
      font-size: 16px;
      color: #ffffff;
    }
    &__icon {

    }
  }
  &__group {
    height: 600px;
    background-color: #2f3e51;
    color: #ffffff;
    h3 {
      font-size: 15px;
      padding: 20px 20px 5px 20px;
    }
    p {
      font-size: 11px;
      padding: 0 20px 20px;
    }
  }
}
