.side-contents {
  height: 100%;
  width: 300px;
  float: left;
  &__user {
    background-color: #253141;
    &__username {
      height: 90px;
      font-weight: bold;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
    }
    &__icon {

    }
  }
  &__group {
    height: 600px;
    background-color: #2f3e51;
    color: #fff;
    h3 {
      font-size: 15px;
      padding: 20px 20px 5px 20px;
    }
    p {
      font-size: 11px;
      padding: 0 20px 20px;
    }
  }
}

.main-contents {
  float: left;
  width: calc(100% - 300px);

  &__group-name {
    height: 90px;
    background-color: #fafafa;
    border-bottom: thin solid #eee;
    padding: 0 40px;
    h3 {
      font-size: 20px;
      color: #333;
      padding: 35px 0 15px 0;
    }
    p {
      font-size: 12px;
      color: #999;
    }
  }

  &__messages {
    height: 510px;
    background-color: #fafafa;
  }

  &__send-message {
    height: 90px;
    background-color: #cacaca;
  }
}
